<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ride Sharing App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
{% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
<div class="alert alert-warning">
    {{ form.user_name.errors }}
    {{ form.password.errors }}
</div>
{% endfor %}

{% block content %}
<h2>Login</h2>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label }}: <br> {{ field }}</p>
    {% endfor %}
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'registeruser' %}">Signup here</a></p>
{% endblock %}
</body>
</html>