{% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
        {{ form.non_field_errors }}
        {{ form.user_name.errors }}
        {{ form.first_name.errors }}
        {{ form.last_name.errors }}
        {{ form.email.errors }}
        {{ form.password1.errors }}
        {{ form.password2.errors }}
    </div>
{% endfor %}

{% block content %}
<h3>{{ pageAction }}</h3>
<hr>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">{{ pageAction }}</button>
</form>
{% endblock %}
